streamlit
pandas
altair
yfinance
requests
beautifulsoup4
python-dotenv
openai
tiktoken

faiss-cpu==1.13.0

langchain==0.2.14
langchain-community==0.2.13
langchain-openai==0.1.7
langchain-text-splitters==0.2.1
